<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the User</h4>
<div class="col-6">
    <form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input class="form-control" type="text" th:field="*{email}"
                   placeholder="E-mail" id="email">
            <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">E-mail Error</span>
            </input>
            <!--<select class="form-control" th:field="${shipment.address}" id="subject">
                <option th:each="address : ${addresses}" th:value="${address}" th:text="${address}"></option>
            </select>-->

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="text" th:field="*{password}" placeholder="Password" id="password">
            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>

        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="form-control" type="text" th:field="*{firstName}" placeholder="First name" id="firstName">
            <span class="text-danger" th:if="${#fields.hasErrors('first_name')}"
                  th:errors="*{firstName}">First Name Error</span>
        </div>

        <div class="form-group">
            <label for="lastName">Last name</label>
            <input class="form-control" type="text" th:field="*{lastName}" placeholder="Last name" id="lastName">
            <span class="text-danger" th:if="${#fields.hasErrors('last_name')}"
                  th:errors="*{lastName}">Last Name Error</span>
        </div>

        <button type="submit" class="btn btn-primary">Save Shipment</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
