<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <h2 th:unless="${addresses} and ${addresses.size()}" class="text-center">There are no addresses</h2>
    <h2 th:if="${addresses.size()>0}" class="text-center py-4">All available addresses</h2>
    <table th:if="${addresses.size()>0}" class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.address}"></td>
            <td><a class="btn btn-info" th:href="@{'/addresses/edit-address/'+${address.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/addresses/delete/'+${address.id}}">Delete</a></td>
        </tr>
        <tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
