<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">

</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <h2 class="text-center py-4">Edit address</h2>

    <form class="text-center" method="post" th:action="@{/addresses/update/{id}(id=${id})}" th:object="${address}">
        <div class="form-group">
            <label for="text">Enter new address</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-address-card"></i>
                    </div>
                </div>
                <input th:field="*{address}" id="text" name="text" placeholder="Address" type="text" required="required" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary w-25 p-2">Save address</button>
        </div>
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>